{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block content %}
<div class="container">
    <div class="display-2">About Us</div>
    <div class="fs-4">

        We are a team of passionate individuals who believe that learning should be fun and accessible to everyone. That's why
        we created this Quiz Application - to bring the excitement of quizzes to your fingertips.
    
    With our app, you can test your knowledge on a wide range of topics, from history and science to pop culture and
    entertainment. Our quizzes are designed to be engaging, challenging, and thought-provoking, making sure that you learn
    something new every time you play.
    
    We are constantly updating our database with new quizzes and questions, ensuring that there is always something new for
    you to discover. Our user-friendly interface makes it easy for you to navigate and find the quizzes that interest you
    the most.
    
    Our mission is to provide a platform for anyone to learn, explore and challenge themselves in a fun and interactive way.
    Whether you're a student looking to brush up on your knowledge, or simply someone looking for a fun way to pass the
    time, our Quiz Application has something for everyone.
    
    So, why not challenge yourself and see how much you know? Download our Quiz Application today and start exploring the
    world of quizzes!
    
    Thank you for choosing our Quiz Application. We can't wait for you to join the millions of users who have already
    discovered the joy of learning with us.
</div>
</div>
{% endblock content %}