{% extends 'base.html' %}
{% block title %}
    Edit Questions
{% endblock title %}
{% block content %}
    <div class="c-container mt-3" style="display: flex; flex-direction:column; align-items: center;">
        {% for question in quiz.question_set.all %}
        <div class="custom-card card_{{question.id}} mb-3 border border-danger-subtle rounded p-3" style="width: 50%;"  hx-swap="outerHTML" hx-target="this" >
            <div class="ccard-header fs-2">
                <b> {{forloop.counter}}. {{question.name}}</b>
        
            </div>
            <div class="ccbody">
                {% for option in question.option_set.all %}
                <h5 class="ccard-title {% if option.is_correct %} bg-success text-white rounded
                    
                {% endif %} p-1  fs-4 d-flex justify-content-between">{{option}} 
                </h5>
                {% endfor %}
        
            </div>
                <a><button class="btn btn-lg btn-primary"  hx-get="{% url 'quiz:edit-question' question.id %}" >Edit</button></a>

        </div>
        {% endfor %}
    </div>
{% endblock content %}