{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'htmx.min.js' %}"></script>
    <title>{% block title %}

        {% endblock title %}</title>
</head>

<body>
    {% include 'nav.html' %}
    {% block content %}

    {% endblock content %}
</body>

{% comment %}
<footer class="fs-5 fixed-bottom text-center p-3 fw-bold container-fluid" style="background-color: #ff8142ab;">
    Made by Vivek! Trust Me
</footer>
{% endcomment %}
</html>