{% load static %}
{% if request.user.is_authenticated %}
<nav class="navbar" style="background-color:#f2edd9">
    <div class="container-fluid ">
        <a class="navbar-brand column-gap-3 d-flex align-items-center" href="/">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="64"
                class="d-inline-block align-text-top">
                <span class="nav_text"> Quizter</span>
            </a>
        <span class="navbar-brand mb-0 h1 text-center"  style="display: flex;gap: 2em;">
           
            <a href="{% url 'quiz:logout' %}">

                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-door-open-fill"
                viewBox="0 0 16 16">
                <path
                d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
            </svg>
            <div class="name text-muted text-decoration-none text-center pt-1">Log Out</div>        
        </a>
            <a href="{% url 'quiz:contact' %}">
            
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-envelope-check-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z" />
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                </svg>
                <div class="name text-muted text-decoration-none text-center pt-1">Contact Us</div>
            </a>
            </a>
            <a href="{% url 'quiz:about' %}">
            
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-book-half"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                </svg>
                <div class="name text-muted text-decoration-none text-center pt-1">About Us</div>
            </a>
        </span>
        

    </div>
</nav>
{% else %}
    <nav class="navbar ">
        <div class="container-fluid align-right justify-content-end">
           
            <span class="navbar-brand mb-0 h1 text-center"  style="display: flex;gap: 2em;">
                {% if request.path == '/signup/'%}
                <a href="{% url 'quiz:login' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-arrow-left-square-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                    </svg>
                    <div class="name text-muted text-decoration-none text-center px-3 py-1">Log In</div>
                </a>
                {% else %}
                    
                <a href="{% url 'quiz:signup' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-plus-square-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
                <div class="name text-muted text-decoration-none text-center px-3 py-1">Sign Up</div>
                </a>
                {% endif %}
                <a href="{% url 'quiz:contact' %}">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-envelope-check-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z" />
                        <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                    </svg>
                    <div class="name text-muted text-decoration-none text-center pt-1">Contact Us</div>
                </a>
                </a>
                <a href="{% url 'quiz:about' %}">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff8042" class="bi bi-book-half"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                    <div class="name text-muted text-decoration-none text-center pt-1">About Us</div>
                </a>
            </span>
    
        </div>
    </nav>
{% endif %}